* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f4f6f8e4;
  color: #333333df;
}

:root {
  --primary-color: #3439db;
  --secondary-color: #041d37;
  --accent-color: #a74b40;
  --light-color: #ffffffad;
}


header {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: rgba(255, 255, 255, 0.859);
  text-decoration: none;
  font-weight: 500;
}


nav a:hover {
  color: var(--primary-color);
}


section {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
  display: inline-block;
}


#about p {
  margin-top: 1rem;
}

.left-section{
    width:30%;
    padding-left:370px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.github-link {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

.github-link:hover {
    color: #338920;
}

.skills-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skill {
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.927);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

input, textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
}


button:hover {
  background-color: #c0392b;
}


footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 2rem 1rem;
  }

}
