* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
  color: #171717;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #222;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}


.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background: rgb(213, 67, 232);
}

.hero img {
  width: 250px;
}


.section {
  padding: 40px;
  text-align: center;
  background: rgb(213, 67, 232);
  margin: 20px;
}

.features ul {
  list-style: none;
}

.features li {
  margin: 10px 0;
}


.btn {
  background: #ff6600;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover {
  background: #e65c00;
}


.buy-section {
  background: #222;
  color: white;
  padding: 40px;
  text-align: center;
}


footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: white;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}

.contact-page {
  min-height: 100vh;         
  display: flex;
  justify-content: center;   
  align-items: center;        
  background: linear-gradient(135deg, #7b2ff7, #9f67ff);
  padding: 20px;
}

.contact-box {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.about-page {
  min-height: 100vh;          
  display: flex;
  justify-content: center;    
  align-items: center;        
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 20px;
}

.about-box {
  background: #fff;
  padding: 35px;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  text-align: center;
}

.about-box h3 {
  margin-top: 20px;
}

.about-box ul {
  list-style: none;
  padding: 0;
}

.about-box li {
  margin: 8px 0;
}